<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
			<!--<level>INFO</level>-->
		<!--</filter>-->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>optimizer.log</file>
		<append>false</append>
		<!-- set immediateFlush to false for much higher logging throughput -->
		<immediateFlush>false</immediateFlush>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.kie" level="warn"/>
	<logger name="org.drools" level="warn"/>

	<root level="info">
		<!--<appender-ref ref="FILE"/>-->
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
